body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 290px;
    height: 100%;
    background: var(--style1);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active 
{
    width: 90px;
}

.navigation .logo {
    background: #fff;
    height: 100px;
    top: 0;
    left: 0;
    border-top: 30px solid #fff;
    border-left: 100px solid #fff;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 105px;
    border-left: 20px solid var(--style1);
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-radius: 40px 0 0 40px;
    margin: 18px 0px;
}

.navigation ul li:hover, 
.navigation ul li.hovered 
{
    background: var(--style5);
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li:hover a, 
.navigation ul li.hovered a 
{
    color: #fff
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 42px;
    line-height: 65px;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 10px;
    height: 60px;
    line-height: 35px;
    text-align: start;
    white-space: nowrap;
}

/* Entahlah */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--style5);
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--style5);
}

@media (max-width: 991px)
{
    .navigation {
        left: -290px;
    }
    .navigation.active {
        width: 290px;
        left: 0;
    }
}

@media (max-width:480px)
{
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }
    
}